.weather {
  color: var(--text);
  max-width: 780px;
  width: 100%;
  border-radius: 30px;
  background: var(--card-bg);
  -webkit-box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
  padding-block: 50px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media (max-width: 1270px) {
  .weather {
    max-width: 100%;
  }
}
.weather__wrapper {
  min-width: 700px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
.weather__left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.temperature__current {
  font-size: 80px;
  font-weight: 700;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
  .temperature__current {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .temperature__current {
    font-size: 40px;
  }
}
.temperature__feeling {
  font-size: 20px;
  font-weight: 600;
  text-wrap: nowrap;
}
@media (max-width: 767.98px) {
  .temperature__feeling {
    font-size: 18px;
  }
}
.temperature__feeling span {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .temperature__feeling span {
    font-size: 16px;
  }
}

.condition-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}
.condition-weather figcaption {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.condition-weather__icon {
  width: 200px;
  height: 200px;
}
@media (max-width: 900px) {
  .condition-weather__icon {
    width: 120px;
    height: 120px;
  }
}

.sun-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
}
.sun-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sun-info__details {
  display: grid;
  gap: 10px;
  font-weight: 600;
}
.sun-info__details__title {
  font-size: 20px;
}

.weather__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.item-weather {
  font-size: 20px;
  font-weight: 600;
}
.item-weather__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}
.item-weather__icon {
  width: 50px;
  height: 50px;
}
@media (max-width: 767.98px) {
  .item-weather__icon {
    width: 30px;
    height: 30px;
  }
}
.item-weather__label {
  text-wrap: nowrap;
}