.daily-forecast {
  max-width: 415px;
  width: 100%;
  -webkit-box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background: var(--card-bg);
  padding: 30px 15px;
  color: var(--text);
}
@media (max-width: 1270px) {
  .daily-forecast {
    max-width: 100%;
  }
}
.daily-forecast__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 400px) {
  .daily-forecast__title {
    font-size: 25px;
  }
}
.daily-forecast__wrapper {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: auto;
  padding-bottom: 10px;
  width: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  margin-inline: auto;
}
.daily-forecast__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  scroll-snap-align: start;
  font-weight: 700;
  min-width: 380px;
}
.daily-forecast__icon {
  width: 60px;
  height: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
}
.daily-forecast__temp {
  text-wrap: nowrap;
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.daily-forecast__date {
  text-wrap: nowrap;
  font-size: 20px;
}