.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, background-color 0.3s ease;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}
.modal-overlay.visible {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.modal-content {
  background: var(--card-bg);
  color: var(--text);
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-message {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-close {
  padding: 5px 15px;
  background-color: #4cbb17;
  padding: 15px 28px;
  border-radius: 40px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}
.modal-close:focus-visible {
  outline: 1px solid #444444;
}