.toggle {
  width: 100px;
  height: 39px;
  background-color: #d9d9d9;
  border-radius: 40px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-inline: 4px;
  border: 1px solid var(--border-color);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.toggle-circle {
  width: 30px;
  height: 30px;
  background-color: #111111;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.toggle.active .toggle-circle {
  -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
          transform: translateX(60px);
}