.location-btn {
	display: flex;
	align-items: center;
	gap: 4px;
	background-color: #4cbb17;
	padding: 15px 28px;
	border-radius: 40px;
	transition: background-color 0.3s;
	font-size: 22px;
	font-weight: 800;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.8);
	@media (max-width: 767.98px) {
		font-size: 18px;
	}
	@media (max-width: 400px) {
		width: 100%;
	}
	svg {
		color: #000;
	}
}

.location-btn:hover {
	background-color: #54ff05;
}
