.toggle {
	width: 100px;
	height: 39px;
	background-color: #d9d9d9;
	border-radius: 40px;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-inline: 4px;
	border: 1px solid var(--border-color);
	flex-shrink: 0;
}

.toggle-circle {
	width: 30px;
	height: 30px;
	background-color: #111111;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.toggle.active .toggle-circle {
	transform: translateX(60px);
}
